<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <form method="POST"
                              th:action="@{/logout}">

                            <input class="btn btn-secondary btn-sm" style="margin-left: 100%;" type="submit" value="Log in/Log out"/>

                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

</body>
</html>