<!DOCTYPE html>
<html lang="en" layout:decorate="~{main_layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LWH - Registration</title>
</head>
<body>

<div layout:fragment="main-content">

    <div class="container">

        <div class="mainbox" id="loginbox"
             style="margin-top: 50px;">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="panel-title">Register New User</div>
                </div>

                <div class="panel-body" style="padding-top: 30px">

                    <!-- Registration Form -->
                    <form class="form-horizontal"
                          method="POST" th:action="@{/register/processRegistrationForm}"
                          th:object="${crmUser}">

                        <!-- Place for messages: error, alert etc ... -->
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>

                                    <!-- Check for registration error -->
                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10" th:if="${registrationError}">
                                        <span th:text="${registrationError}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- User name -->
                        <div class="input-group" style="margin-bottom: 25px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" placeholder="username (*)" th:field="*{userName}" type="text"/>
                        </div>

                        <div class="text-danger"
                             style="margin-bottom: 25px" th:if="${#fields.hasErrors('userName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"/>
                            </ul>
                        </div>


                        <!-- Password -->
                        <div class="input-group" style="margin-bottom: 25px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" placeholder="password (*)" th:errorclass="fieldError" th:field="*{password}"
                                   type="password"/>
                        </div>
                        <div class="text-danger"
                             style="margin-bottom: 25px" th:if="${#fields.hasErrors('password')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"/>
                            </ul>
                        </div>

                        <!-- Confirm Password -->
                        <div class="input-group" style="margin-bottom: 25px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" placeholder="confirm password (*)" th:errorclass="fieldError"
                                   th:field="*{matchingPassword}" type="password"/>
                        </div>
                        <div class="text-danger"
                             style="margin-bottom: 25px" th:if="${#fields.hasErrors('matchingPassword')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"/>
                            </ul>
                        </div>

                        <!-- Register Button -->
                        <div class="form-group" style="margin-top: 10px">
                            <div class="col-sm-6 controls">
                                <button class="btn btn-primary" type="submit">Register</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>